@charset utf-8;

/* General
---------------------------------------- */
html,
body {
	min-width:960px;
	}
body{
	font: 100%/1.313em Arial, Helvetica, sans-serif;
	position:relative;
}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

#main {
	font-size:.75em;
	background-repeat:repeat;
	background-position:50% 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	margin:0 0 1em 0;
	font-family: 'Average', serif;
	}	

h1 {
	font-size:3em;
}
h2 {
	font-size:2.5em;
}
h3 {
	font-size:1.5em;
}
h4{
  font-size:1.1666em;
}
h5{
  font-size:1em;
  font-family:Arial, Helvetica, sans-serif;
}
h6{
 font-size:0.8333em;
}
	

/* List styling */
dl dt {
	background:url(../images/list-arrow.gif) no-repeat 0 3px;
	padding:0 0 3px 32px;
	margin-bottom:.2em;
	font-size:18px;
	line-height:1.2em;
	color:#5a5a5a;
	}
dl dd {
	padding:0 0 0 32px;
	margin:0 0 1.5em 0;
	}
	
ul li {
	list-style-type: none;
	padding: 0 0 2px 15px;
	margin: 0 0 0 0;
	position:relative;
	background-repeat:no-repeat;
	background-position:0 8px;
}
	ul li a {
		text-decoration:none;
	}
	ul ul {
		margin: 0 0 -2px .5em;
	}


/* Header
---------------------------------------- */
#header {
	height:212px;
	position:relative;
	z-index:99;
	background-repeat:repeat-x;
	background-position:50% 0;
	}

/* Logo */
.logo {
	position:absolute;
	left:-1px;
	top:39px;
	}
	.logo h1,
	.logo h2 {
		font-size:3em;
		line-height:1.2em;
		margin-bottom:0;
		}
		.logo h1 a,
		.logo h2 a {
			text-decoration:none;
			}
.logo .tagline {
	font-size:10px;
	text-transform:uppercase;
	}


/* Header widget */
#widget-header {
	position:absolute;
	right:0;
	top:55px;
	z-index:1;
}
	#widget-header ul li {
		float: left;
		font-size:11px;
		line-height:34px;
		margin:0 0 0 20px;
		padding:0 0 0 22px;
		background-repeat:no-repeat;
		background-position:0 50%;
		}
	#widget-header ul li:first-child {
		background:none;
	}	
		#widget-header ul li a {
			text-decoration:none;
		}

/* Social Networks */
#widget-header .social-networks {
	list-style-type:none;
	padding:0;
	margin:0;
	border:none;
	}
	#widget-header .social-networks li {
		float:left;
		border:none;
		padding:0;
		margin:0 0 0 5px;
		list-style-type:none;
		height:30px;
		}
		#widget-header .social-networks li a {
			text-decoration:none;
			float:left;
			height:30px;
			display:block;
			}
		#widget-header .social-networks li a:hover {
			color:red;
			}

/* EasyTooltip */
.tooltip {
	background: none repeat scroll 0 0 #252525;
	border: 1px solid #000000;
	color: #EEEEEE;
	display: none;
	font-size: 11px;
	line-height:1.2em;
	margin: 13px 0 0;
	padding: 5px;
	z-index:99;
}




/* Request a quote */
.top-box .icon {
	float: left;
	margin:5px 18px 0 5px;
}
.top-box h2 {
	font-size:24px;
	font-weight:normal;
	margin-bottom: 16px;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:none;
}
.box-button {
	padding-top: 20px;
}



/* Slider
---------------------------------------- */
#slider-wrapper {
	overflow:hidden;
	position:relative;
	margin-bottom:42px;
	}

/* Navigations
---------------------------------------- */

/* Primary navigation */
nav.primary {
	position:relative;
	z-index:2;
}

/* Essential styles for dropdown menu */
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
	background:none;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			79px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			178px; /* match ul width */
	top:			-9px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			178px; /* match ul width */
	top:			-9px;
}


/* Our skin for dropdown menu */
.sf-menu {
	margin-top:132px;
	float:left;
}
body.home .sf-menu {
	height:79px;
	position:relative;
	background-repeat:repeat-x;
	background-position:0 bottom;
}
.sf-menu a {
	text-decoration:none;
	text-transform:uppercase;
}
.sf-menu > li > a {
	width:127px;
	background-repeat:repeat-x;
	background-position:0 0;
	margin-top:7px;
	height:72px;
	line-height:75px;	
	padding-left: 29px;
}
.sf-menu > li:first-child > a {
	width:131px;
}
.sf-menu > li > a:hover,
.sf-menu > li.sfHover > a,
.sf-menu > li.current-menu-item > a ,
.sf-menu > li.current-category-ancestor > a ,
.sf-menu > li.current-menu-ancestor > a ,
.sf-menu > li.current-category-parent > a ,
.sf-menu > li.current-menu-parent > a ,
.sf-menu > li.current_page_item > a {
	margin: 0;
	line-height:79px;
	background-position:0 -72px;
}
.sf-menu > li.sfHover > a {
	background-position:0 -151px;
}
.sf-menu > li > a:hover,
.sf-menu > li.sfHover > a,
.sf-menu > li.current_page_item > a {
	height:79px;
	text-shadow:0 1px #1986cb !important;
}
.sf-menu li ul {
	width:177px;
	padding: 11px 0 10px 0;
}
.sf-menu li li {
	background-repeat:no-repeat;
	background-position:50% 0;
	margin-top: -2px;
}
.sf-menu li li:hover,
.sf-menu li li.sfHover,
.sf-menu li li.current_page_item {
	z-index: 2;
}
.sf-menu li li:first-child {
	background:none !important;
}
.sf-menu li li a {
	margin-left: 9px;
	line-height:41px;
	height:41px;
	width:135px;
	padding: 0 12px;
}
.ie9 .sf-menu li li a {
	line-height:45px;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .sf-menu li.current-menu-item > a {
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			20px;
	top:			1.05em; /* IE6 only */
	width:			7px;
	height:			5px;
	text-indent: 	-999em;
	overflow:		hidden;
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			35px;
	background-position: 0 0; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator,
li.current_page_item > a > .sf-sub-indicator {
	background-position: 0 0; /* arrow hovers for modern browsers*/
	top: 37px;
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  -10px 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url(../images/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}




/* Top search */
#top-search .wrap {
	width:222px;
	height:35px;
	background-repeat:no-repeat;
	background-position:0 0;
	overflow: hidden;
	float: left;
}
#top-search label {
	margin-right: 14px;
	float: left;
	}
	#top-search .input-search {
		width:180px;
		background:none;
		border: none;
		padding:10px 0;
		margin-left:8px;
		vertical-align: top;
		color:#fff;
		box-shadow:0 0 0 rgba(0,0,0,.16);
		-moz-box-shadow:0 0 0 rgba(0,0,0,.16);
		-webkit-box-shadow:0 0 0 rgba(0,0,0,.16);
		}
	#top-search #submit {
		width:12px;
		height:13px;
		background:none;
		background-repeat:no-repeat;
		background-position:0 0;
		cursor:pointer;
		padding: 0;
		margin: 0;
		position:absolute;
		right:12px;
		top: 12px;
		}

.ie8 #top-search #submit:active {
		background-position: 1px 1px !important;
		}



/* Content
---------------------------------------- */
.primary_content_wrap {
	position:relative;
	z-index:1;
	padding-bottom:50px;
	}
	
#content {
	padding:40px 0 0 0;
}
#content.left {
	float:right !important;
	}
	
#content.fullwidth h3 {
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:30px;
	margin-bottom:14px;
}	

#before-content-area {
	text-align:center;
}	
	#before-content-area h3 {
		font-size:30px;
		line-height:1.2em;
		font-weight:normal;
		font-family: 'Average', serif;
		letter-spacing: -1px;
	}
#before-content-area .widget-content {
	background-repeat:repeat-x;
	background-position:0 bottom;
	padding-bottom: 5px;
	margin-bottom: 30px;
}	



/* Comments
---------------------------------------- */
h3#comments {
 padding-top:10px;
 margin-bottom:0;
 font-size:30px;
	line-height:1.2em;
	margin-bottom: 15px;
 }
.commentlist {
 list-style-type:none;
 padding:0;
 margin:0;
 }
 li.comment {
  list-style-type:none;
  overflow:hidden;
  padding: 30px 0 0 0;
  margin: 12px 0 0 0;
  background-repeat:repeat-x;
  background-position:0 0;
  text-transform:none;
 }
.commentlist > li.comment:first-child {
	padding-top: 0;
	background:none;
} 
   li.comment .comment-body {
    padding:0 0 20px 102px;
    position:relative;
    zoom:1;
    margin-top:10px;
    }
    li.comment .comment-body p {
     min-height: 65px;
    }
  .author-comment {

  }
  .comment-author {
   position:absolute;
   left:2px;
   top:5px;
   }
   .comment-author .author {
    font-style:italic;
    text-transform:capitalize;
    width:65px;
    text-align:center;
    display: block;
    font-size:15px;
   }
	
	/* Comment meta */
  .comment-meta {
   margin-bottom: 10px;
  } 
	
	 /* Avatar */
   li.comment .avatar {
    float:none;
    margin:0;
    vertical-align:top;
    overflow:hidden;
		padding:1px;
    }
    li.comment .avatar {
     display:block;
     vertical-align:top;
     overflow:hidden;
     }

    .commentlist ul.children {
     overflow:hidden;
     margin:0;
     padding: 0;
     background-repeat:no-repeat;
     background-position:0 55px;
     }
     .commentlist ul.children li.comment {
	padding-left: 50px;
      }

		/* Reply */
     .reply a {
      display:inline-block;
      }


 .allowed_tags {
  background:#eee;
  padding:15px;
  font-size:11px;
  font-family:"Courier New", Courier, monospace;
  color:#666;
  }
  .allowed_tags strong {
   font-family:Tahoma, Geneva, sans-serif;
   }
  #respond {
	padding-top: 27px;
  }
  #respond h3 {
	font-size:30px;
	line-height:1.2em;
	margin-bottom: 26px;
}
  .cancel-comment-reply a {
   text-decoration:underline;
  }
  .cancel-comment-reply a:hover {
   text-decoration:none;
  }





/* Post
---------------------------------------- */
.post-holder {
	margin-bottom:35px;
	padding-bottom: 33px;
	position:relative;
	background-repeat:repeat-x;
	background-position:0 bottom;
	}

/* Post header */
.post-holder .entry-title {
	font-size:1.6em;
	margin-bottom:.2em;
	text-shadow:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	}
	.post-holder .entry-title a {
		text-decoration:none;
		
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
	}
.post-holder.single-post { 
	margin-bottom:30px;
	overflow:hidden;
	width:100%;
	}
.post-holder.no-border {
	padding: 0;
	margin: 0;
	background:none;
}	

/* Featured thumbnail */
.featured-thumbnail {
	position:relative;
	float:left;
	margin:5px 20px 10px 0;
	padding:1px;
	}
.no-boxshadow .featured-thumbnail {
}	
	.featured-thumbnail img {
		float:left;
		}
	
	/* Small thumbnail */
	.featured-thumbnail.small img {
		padding:4px;
		}
	
	/* Large thumbnail */
	.featured-thumbnail.large {
		margin-right:0;
		overflow:hidden;
		margin-bottom:1.5em;
		}
	.type-clients .featured-thumbnail.large {
		overflow: visible;
		margin-right: 20px;
	}	

/* Post content */
	.post-content .excerpt {
		margin-bottom:1.5em;
		}
		.pagination a {
			display:inline-block;
			padding:0 5px;
			background:#eee;
			}

/* Post footer */
.post-holder .post-footer {
	clear:both;
	padding:15px 0 0 0;
	}
.post-holder.single-post .post-footer {
	margin-top:20px;
	}
		

/* Meta information for post */
.post-meta {
	overflow:hidden;
	margin-bottom:1em;
	}
	.post-meta time,
	.comment-meta span.time {
		padding-left: 19px;
		background-repeat:no-repeat;
		background-position:0 50%;
		margin-right: 11px;
	}
	.post-meta a[rel="author"],
	.comment-meta span.author {
		padding-left:21px;
		background-repeat:no-repeat;
		background-position:0 50%;
		text-decoration:none;
		margin-right:13px;
	}
	.post-meta a[rel="author"]:hover {
		text-decoration:underline;
	}
	.post-meta .comments-link {
		padding-left: 20px;
		background-repeat:no-repeat;
		background-position:0 50%;
		text-decoration:none;
	}
	.post-meta a.comments-link:hover {
		text-decoration:underline;
	}
	
p.gravatar {
	float:left;
	margin-right:20px;
	}

/* Image styling */
.alignleft {
	float:left;
	margin:0 20px 10px 0;
	}
.alignright {
	float:right;
	margin:0 0 10px 20px;
	}
.aligncenter {
	text-align:center;
	margin:0 auto;
	}
.alignnone {
	margin:0 0 10px 0;
	}
article .post-content img {
	max-width:710px;
	}

.frame {
	padding:1px;
	text-align:center;
	margin-bottom: 27px;
	position:relative;
}
.panel-wrapper .frame {
	padding: 1px;
	background:#e1e1e1;
}
.panel-wrapper .frame a .inner_border {
	position:absolute;
	left: -1px;
	top: -1px;
	bottom: -1px;
	right: -1px;
	opacity:0;
	
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.no-opacity .panel-wrapper .frame a .inner_border {
	visibility: hidden;
} 
.panel-wrapper .frame a .inner_border:before {
	content: "";
	position:absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.panel-wrapper .frame a:hover .inner_border {
	opacity:1;
}
.no-opacity .panel-wrapper .frame a:hover .inner_border {
	visibility: visible;
} 
.frame img.alignleft,
.frame img.alignright,
.frame img.alignnone {
	margin:0;
	padding:0;
	border:none;
	}
.frame a {
	display: block;
}


	
/* Related Posts */
#related-posts h3 {
	font-size:30px;
}
.related-posts {
	overflow:hidden;
	padding:0 0 40px 0;
	margin:0;
	}
	.related-posts li {
		list-style-type:none;
		padding:0;
		margin:0 0 0 14px;
		float:left;
		background:none;
		width:154px;
		}
	.related-posts li:first-child {
		margin-left:0;
		}
		.related-posts li .featured-thumbnail {
			float:none;
			display: inline-block;
			margin:0 0 10px 0;
			overflow:hidden;
			}



/* Page Navigaton (wp-pagenavi) */
.wp-pagenavi {
	clear: both;
	overflow:hidden;
	margin-top: -8px;
}
.alt .wp-pagenavi {
	background-repeat:repeat-x;
	background-position:0 0;
	background-image:url(../images/divider2.png);
	padding-top: 28px;
}
body.author .wp-pagenavi {
	padding-bottom: 40px;
}
.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border:none !important;
	padding:0;
	margin:0 26px 0 0;
	display:inline-block;
	text-transform:uppercase;
}
.wp-pagenavi .pages {
	float:right;
	border:none;
	margin: 0;
	}
.wp-pagenavi .nextpostslink,
.wp-pagenavi .previouspostslink {
	background-repeat:no-repeat;
}
.wp-pagenavi .nextpostslink {
	padding-right:15px !important;
	background-position:right 8px;
}
.wp-pagenavi .previouspostslink {
	padding-left:15px !important;
	background-position:0 8px;
}
.wp-pagenavi .nextpostslink:hover,
.wp-pagenavi .previouspostslink:hover {
	background-position:right -6px;
	text-decoration:underline;
}
.wp-pagenavi .previouspostslink:hover {
	background-position:0 -6px;
}


/* Older and newer navigation */
nav.oldernewer {
	width:100%;
	overflow:hidden;
	margin-bottom:1.5em;
}
	.older {
		float:left;
	}
	.newer {
		float:right;
	}
	

	
/* Gallery post format */
.gallery_post {
	list-style-type:none;
	padding:0;
	margin:0 0 1em 0;
	width:100%;
	overflow:hidden;
	}
	.gallery_post .g_item {
		overflow:hidden;
		display:none;
		}
	.gallery_post .g_item:first-child {
		display:block;
		}
		.gallery_post .g_item .featured-thumbnail {
			float:none;
			margin:0;
			}
			.gallery_post .g_item .featured-thumbnail img {
				float:none;
				}

.g_pagination {
	text-align:left;
	overflow:hidden;
	}
	.g_pagination ul {
		list-style-type:none;
		margin:0;
		padding:.5em 0;
		overflow:hidden;
		}
		.g_pagination ul li {
			padding:0 5px 0 0;
			display:inline;
			margin:0;
			}
			.g_pagination ul li a {
				display:inline-block;
				text-decoration:none;
				width:10px;
				height:10px;
				background:#000;
				font-size:0;
				line-height:0;
				border-radius:5px;
				vertical-align:top;
				}
			.g_pagination li.activeSlide a,
			.g_pagination li a:hover {
				background:#999;
				}


/* Author
---------------------------------------- */
#post-author {
	overflow:hidden;
	border:1px solid #dbdbdb;
	padding:20px;
	margin-bottom:2em;
	}
#author-link {
	margin-top:1.5em;
	}
	#post-author .gravatar {
		margin:0 20px 0 0;
		}
	#post-author .gravatar img {
		background:#fff;
		border:1px solid #dbdbdb;
		padding:5px;
		}

/* Recent author posts */
#recent-author-posts {
	margin-bottom:3em;
}

#recent-author-posts h3,
#recent-author-comments h3 {
	font-size:30px;
	text-shadow:1px 1px 1px rgba(0,0,0,.3);
}

.author-info {
	width:100%;
	margin-bottom:3em;
	padding-bottom:3.8em;
	background-repeat:repeat-x;
	background-position:0 bottom;
}
	.author-info .avatar {
		margin:0 20px 0 0;
		}
		.author-info .avatar img {
			float:left;
			padding:3px;
	
	box-shadow:0 1px 2px rgba(0,0,0,.17);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.17);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.17);
			}

.author-meta {
	margin-bottom:20px;
	overflow:hidden;
	width:100%;
	}
	.author-meta p.gravatar {
		margin:0;
		}




/* 404
---------------------------------------- */
#error404 {
	padding:30px 0 100px 0;
}
	.error404-num {
		font-size:250px;
		line-height:1.2em;
		}
	#error404 hgroup {
		margin:0 0 2em 0;
		padding-top:50px;
		}
		#error404 hgroup h1 {
			font-size:3em;
			margin-bottom:.2em;
			}
	#error404 h4 {
		font-family:Arial, Helvetica, sans-serif;
	}
	#error404 #searchform .searching {
		width:345px;
	}



/* Portfolio
---------------------------------------- */
.latestwork {
	width:100%;
	overflow:hidden;
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.latestwork li {
		float:left;
		margin-right:20px;
		}


/* Gallery */
.header-title {
	margin-bottom:2.5em;
	}
	.header-title h1 {
		margin-bottom:.1em;
		font-size:30px;
		}
	.header-title .page-desc {
		font-size:.91em;
		}



/* Default layout 3 columns */
#gallery {
	
	}
	#gallery .portfolio {
		width:100%;
		list-style-type:none;
		padding:0;
		margin:0;
		}
		#gallery .portfolio li {
			list-style-type:none;
			display:-moz-inline-box;
			display:inline-block;
			zoom:1;
			vertical-align:top; 
			width:300px;
			margin:0 17px 50px 0;
			position:relative;
			background:none;
			padding:0;
			}
		.ie9 #gallery .portfolio li {
			margin-right:16px;
		}	
		* + html #gallery .portfolio li {
			display:inline;
			}
		#gallery .portfolio li.nomargin {
			margin-right:0 !important;
			}
			#gallery .portfolio li span.image-border {
				display:block;
				padding: 1px;
				height:239px;
				width:296px;
				position:relative;
				}
			#gallery .portfolio li a.image-wrap {
				display:block;
				overflow:hidden;
				height:239px;
				width:296px;
				position:relative;
				
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				}
			#gallery .portfolio li a.image-wrap:hover {
				
				}
				#gallery .portfolio li a.image-wrap img {
					float:left;
					}
			#gallery .portfolio h3 {
				font-weight:normal;
				font-size:24px;
				margin-bottom: 16px;
			}
			#gallery .portfolio h3 a {
				font-family:Arial, Helvetica, sans-serif;
			}

			#gallery .portfolio .folio-desc {
				margin-bottom:0;
				padding:2em 0 0 0;
				}
			#gallery .portfolio p.excerpt {
				padding:0;
				}
			
			.zoom-icon {
				display:block;
				position:absolute;
				left:0;
				top:0;
				right:0;
				bottom:0;
				cursor:pointer;
				background:rgba(255, 255, 255, .7);
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				opacity:0;
				}
			.no-rgba .zoom-icon {
				visibility:hidden;
				}
			.zoom-icon:before {
				content:"";
				display:block;
				position:absolute;
				left:50%;
				top:50%;
				width:43px;
				height:42px;
				margin:-21px 0 0 -21px;
				}
			.image-wrap:hover .zoom-icon {
				opacity:1;
				}
			.no-rgba .image-wrap:hover .zoom-icon {
				visibility:visible;
				}


/* 1 column portfolio*/
#gallery.one_column .portfolio li {
	width:100%;
	margin-right:0;
	margin-left:0;
	}
	#gallery.one_column .portfolio li span.image-border {
		width:495px;
		height:384px;
		float:left;
		}
	#gallery.one_column .portfolio li a.image-wrap {
		width:495px;
		height:384px;
		}
		#gallery.one_column .folio-desc {
			float:left;
			margin:0 0 0 21px;
			overflow:hidden;
			width:410px;
			padding:0;
			}

/* 2 columns portfolio*/
#gallery.two_columns .portfolio li {
	width:449px;
	margin-right:30px;
	}
	#gallery.two_columns .portfolio li span.image-border {
		width:205px;
		height:184px;
		float: left;
		margin-right: 21px;
		}
	#gallery.two_columns .portfolio li a.image-wrap {
		width:205px;
		height:184px;
		}
	#gallery.two_columns .portfolio .folio-desc {
		padding: 0;
		overflow: hidden;
	}	

/* 4 columns portfolio*/
#gallery.four_columns .portfolio li {
	width:220px;
	}
	#gallery.four_columns .portfolio li span.image-border {
		width:216px;
		height:179px;
		}
	#gallery.four_columns .portfolio li a.image-wrap {
		width:216px;
		height:179px;
		}







/* Sidebar
---------------------------------------- */
#sidebar {
	padding:40px 0 0 0;
}
	#widget-sidebar {
		
	}
		.widget {
			margin-bottom:43px;
		}
		.widget h3 {
			font-size:30px;
			line-height:1.2em;
		}

/* Calendar */
#calendar_wrap {
	padding:0;
	}
	#wp-calendar {
		width:100%;
		}
		#wp-calendar caption {
			text-align:center;
			}
		#wp-calendar td {
			text-align:center;
			padding:4px 0;
			border:none;
			font-size:14px;
			}
		#wp-calendar caption {
			padding:0;
			font-size:14px;
			line-height:36px;
			background-repeat:repeat;
			background-position:0 0;
			border-radius: 5px;
			font-style:italic;
			margin-bottom:0;
			}
		#wp-calendar thead th {
			padding:7px 0;
			text-align:center;
			}
		#wp-calendar #prev {
			text-align:left;
			}
		#wp-calendar #next {
			text-align:right;
			}
		#wp-calendar #prev a,
		#wp-calendar #next a {
			text-decoration:none;
		}


.widget_nav_menu ul,
.widget.widget_categories ul {
	margin: 0;
}
	.widget_nav_menu ul li,
	.widget.widget_categories ul li {
		margin: 3px 0 0 0;
		padding: 0;
		background:none;
	}
	.widget_nav_menu ul li:first-child,
	.widget.widget_categories ul li:first-child {
		margin-top: 0;
	}
		.widget_nav_menu ul li a,
		.widget.widget_categories ul li a {
			font-weight:bold;
			text-decoration:none;
			display: block;
			padding: 14px 0 14px 34px;
			background-repeat:repeat-x;
			background-position:0 0;
			border-radius: 4px;
			position:relative;
			
			box-shadow:none;
			-moz-box-shadow:none;
			-webkit-box-shadow:none);
		}
		.no-boxshadow .widget_nav_menu ul li a,
		.no-boxshadow .widget.widget_categories ul li a {
			box-shadow:0 0 0 rgba(0,0,0,0);
			-moz-box-shadow:0 0 0 rgba(0,0,0,0);
			-webkit-box-shadow:0 0 0 rgba(0,0,0,0);
		}
		.widget_nav_menu ul li a:before,
		.widget.widget_categories ul li a:before {
			content: "";
			position:absolute;
			left: 21px;
			top: 22px;
			width:3px;
			height:5px;
			background-repeat:no-repeat;
			background-position:0 0;
		}


/* FAQs
---------------------------------------- */
.faq_list {
	
	}
	.faq_list dt {
		position:relative;
		padding:0 0 5px 28px;
		font-size:15px;
		font-weight:normal;
		margin:0;
		background:none;
		color:#fe6a21 !important;
		}
	.faq_list span.marker {
		display:block;
		position:absolute;
		left:0;
		top:0;
		font-size:15px;
		color:#5a5a5a;
		font-weight:bold;
		}
	.faq_list dd {
		padding:0 0 0 28px;
		position:relative;
		margin:0 0 2em 0;
		}
		.faq_list dd .marker {
			top:0;
			}



/* Custom widgets
---------------------------------------- */


/* Recent Comments */
ul.recentcomments {
	padding:0;
	margin:0;
	}
	ul.recentcomments li {
		border-top:1px solid #c6c6c6;
		padding:25px 0 25px 0;
		margin:0;
		border-bottom:none;
		background:none;
		overflow:hidden;
		list-style-type:none;
		}
	ul.recentcomments li:first-child {
		padding-top:0;
		border-top:none;
		}
		ul.recentcomments li img {
			float:left;
			margin:0 12px 0 0;
			}
		ul.recentcomments .comment-body {
			padding:15px 0 0 0;
			}
			ul.recentcomments .comment-body a {
				text-decoration:none;
				color:#96999d;
				}
			ul.recentcomments .comment-body a:hover {
				color:#000;
				text-decoration:underline;
				}
		ul.recentcomments li h4 {
			margin-bottom:.1em;
			}
			ul.recentcomments li h4 a {
				text-decoration:none;
				}
			ul.recentcomments li h4 a:hover {
				color:#000;
				}
		ul.recentcomments li small {
			font-size:11px;
			color:#6a6a6a;
			}

/* Posts Type widget */
.post_list {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.post_list li {
		list-style-type:none;
		overflow:hidden;
		padding: 0;
		background:none;
		padding-top:1.5em;
		padding-bottom:1.5em;
		border-top:1px solid #dbdbdb;
		margin:0;
		}
	.post_list li:first-child {
		border:none;
		padding-top:0;
		}
			
.post_list.testimonials_custom_posts li {
	border: none;
	padding: 0 0 12px 0;
	margin: 30px 0 0 0;
	position:relative;
	overflow: visible;
}
.post_list.testimonials_custom_posts li:first-child {
	margin-top: 0;
}
.post_list.testimonials_custom_posts .featured-thumbnail {
	border: none;
	border-radius: 4px;
	position:relative;
	background:none;
	padding: 0;
	position:absolute;
	right: 0;
	bottom: 0;
	margin: 0;
}
.post_list.testimonials_custom_posts .featured-thumbnail span {
	position:absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	border-radius: 3px;
}
	.post_list.testimonials_custom_posts .featured-thumbnail img {
		border-radius: 5px;
		position:relative;
	}
.post_list.testimonials_custom_posts .post_content {
	padding-bottom:18px;
	font-size:14px;
	font-style:italic;
	line-height:21px;
}
.post_list.testimonials_custom_posts .post_content .inside {
	background-repeat:repeat-x;
	background-position:0 0;
	border-radius: 4px;
	padding: 23px 12px 23px 23px;
	position:relative;
}
.no-boxshadow .post_list.testimonials_custom_posts .post_content .inside {
	box-shadow:0 0 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 0 0 rgba(0,0,0,.1);
	-webkit-box-shadow:0 0 0 rgba(0,0,0,.1);
}
.post_list.testimonials_custom_posts .post_content .inside:before {
	width:17px;
	height:16px;
	position:absolute;
	bottom: -16px;
	right: 19px;
	content: "";
	background-repeat:no-repeat;
	background-position:0 0;
}
.post_list.testimonials_custom_posts .name-testi {
	padding-right:77px;
}

/* Popular posts */
.popular-posts {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.popular-posts li {
		overflow:hidden;
		margin:0 0 2em 0;
		padding: 0;
		background:none;
		}
		.popular-posts li .post-thumb {
			float:left;
			margin-right:20px;
			width:100px;
			height:100px;
			overflow:hidden;
			padding:1px;
			border:1px solid #dbdbdb;
			}
			.popular-posts li .post-thumb .thumbnail {
				width:100%;
				height:auto;
				}
		.popular-posts li .post-thumb.empty-thumb {
			background:url(../images/empty_thumb.gif) no-repeat 50% 50% #ececec;
			}
		.popular-posts li h5 {
			font-size:1.2em;
			margin-bottom:.5em;
			}
		.popular-posts li .excerpt {
			margin-bottom:.8em;
			}

			
/* Carousel widget */
.es-carousel-wrapper{
	background: #4b4c44;
	padding:10px 37px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
}
.es-carousel{
	overflow:hidden;
	background:#4b4c44;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
	list-style-type:none;
	padding:0;
	margin:0;
	color:#fff;
	background:none;
}
.es-carousel ul li .thumbnail{
	display:block;
	border-style:solid;
	border-color:#222;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:12px;
	background:transparent url(../images/nav.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-carousel ul li h4 {
	margin-bottom:.5em;
	}
	.es-carousel ul li h4 a:hover,
	.es-carousel ul li .link:hover {
		color:#fe6a21;
		text-decoration:underline;
	}
.es-carousel ul li .excerpt {
	margin-bottom:10px;
	}
.es-nav span.es-nav-next{
	right:12px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}						
			

/* Post Cycle */
.post_cycle {
	padding:0;
	margin:0;
	}
.post_cycle .cycle_item {
	display:none;
	}
.post_cycle .cycle_item:first {
	display:block;
	}


/* Folio Cycle */
.folio_cycle {
	list-style-type:none;
	padding:0;
	margin:0;
	width:100%;
	overflow:hidden;
	}
	.folio_cycle .folio_item {
		overflow:hidden;
		display:none;
		}
	.folio_cycle .folio_item:first {
		display:block;
		}
		.folio_cycle .folio_item .featured-thumbnail {
			float:none;
			margin:0 0 15px 0;
			}
			.folio_cycle .folio_item .featured-thumbnail img {
				float:none;
				}
#folio-controls {
	text-align:center;
	overflow:hidden;
	}
	#folio-controls ul {
		list-style-type:none;
		margin:0;
		padding:0;
		}
		#folio-controls ul li {
			padding:0 5px 0 0;
			margin:0;
			display:inline;
			background:none;
			}
			#folio-controls ul li a {
				display:inline-block;
				text-decoration:none;
				width:9px;
				height:9px;
				background:#000;
				font-size:0;
				line-height:0;
				border-radius:5px;
				}
			#folio-controls ul li a:hover {
				background:#999;
				}


/* Testimonials */
.testimonials {
  padding: 0;
  margin: 0;
}
.testimonials div.testi_item {
  padding: 0;
  margin: 0 0 2em 0;
  background: none;
}
.testimonials div.testi_item blockquote {
  display: block;
  position: relative;
  margin: 0;
  padding: 30px;
  background: #dbdbdb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
	}
.testimonials div.testi_item blockquote:before {
  content: "";
  display: block;
  position: absolute;
  left: 65px;
  bottom: -20px;
	width:0;
	height:0;
	border-left: 20px solid transparent;
	border-right: 0 solid transparent;
	border-top: 20px solid #dbdbdb;
}
.testimonials div.testi_item blockquote:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 10px;
  width: 41px;
  height: 38px;
  background: url(../images/quotes.png) 0 0 no-repeat;
}
.testimonials div.testi_item blockquote a {
  text-decoration: none;
  color: #4e4e4e;
  display: block;
  font-style: normal;
  position: relative;
}
.testimonials div.testi_item blockquote a:hover {
  color: #ffffff;
}
.name-testi {
  padding: 12px 0 0 0;
  text-align: right;
  display: block;
}
.name-testi a {
  font-weight: normal;
}
.name-testi .user {
	display: block;
	font-size:14px;
	font-weight:bold;
}
.testimonials .thumb {
  float: left;
  margin-right: 20px;
}

/* Misc for Cycle widgets */
#testi-cycle .testi_item {
	display:none;
	}
#testi-cycle .testi_item:first {
	display:block;
	}
#testi-controls {
	text-align:center;
	overflow:hidden;
	}
	#testi-controls ul {
		list-style-type:none;
		margin:0;
		padding:0;
		}
		#testi-controls ul li {
			padding:0;
			margin:0 2px 0 0;
			display:inline-block;
			background:none;
			}
		* + html #testi-controls ul li {
			display:inline;
			zoom:1;
			}


/* Recent Posts */
.latestpost {
	list-style-type:none;
	margin:0;
	padding:0;
	}
	.latestpost li {
		margin:0 0 2em 0;
		list-style-type:none;
		}
		.latestpost li h4 {
			margin-bottom:0;
			}
		.latestpost li .excerpt {
			margin-bottom:15px;
			}


/* Twitter widget */
.twitter {
	position:relative;
}
.twitter_update_list {
	overflow:hidden;
	}
.twitter ul li {
	list-style-type:none;
	margin:0 0 15px 0;
	padding:0 0 0 37px;
	background:url(../images/twitter-icon.png) no-repeat 0 0;
	}
	.twitter ul li .twitt-body {
		padding:0 0 5px 0;
		}
	.twitter ul li .twitt-body a {
		font-weight:bold;
		}
	.twitter ul li a.timesince {
		font-size:11px;
		}
.twitter .profileLink {
	
	}
.twitter  .preloader {
	position:absolute;
	top:64px;
	left:0;
	line-height:25px;
}



/* Flickr widget */
.flickrImages {
	overflow:hidden;
	position:relative;
	margin-bottom: 12px;
}
.flickrImages a {
	float:left;
	display:block;
	width:75px;
	height:75px;
	background:#000;
	margin:0 1px 1px 0;
	}
.flickrImages a img {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.flickrImages a:hover img {
	opacity:.5;
}
.flickrImages a.link {
	display:inline;
	float:none;
	width:auto;
	height:auto;
	margin:0;
	background:none;
	}

/* Banner widget */
.banners-holder {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.banners-holder li {
		list-style-type:none;
		float:left;
		margin:0 3px 3px 0;
		padding:0;
		background:none;
		}
		.banners-holder li img {
			vertical-align:top;
			float:left;
			}

			
			
/* vCard widget */			
.vcard {
	
	}
			


/* Testimonials
---------------------------------------- */

/* Testimonials list */
article.testimonial {
	padding:0 30px 0 215px;
	width:auto;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:14px;
	line-height:1.5em;
	font-weight:normal;
	margin-bottom:35px;
	}
	article.testimonial .featured-thumbnail {
		position:absolute;
		left:0;
		top:0;
		}
	article.testimonial .name-testi {
		display:block;
		text-align:right;
		font-style:normal;
		font-size:12px;
		font-family:Arial, Helvetica, sans-serif;
		padding:0;
		}


/* Single Testimonial */
.testi-single {
	font-family:Georgia, "Times New Roman", Times, serif;
	border:none;
	padding:0 30px 0 215px;
	width:auto;
	font-size:14px;
	line-height:1.5em;
	font-style:italic;
	margin:0 0 2em 0;
	position:relative;
	}
	.testi-single p {
		padding:0;
		}
		.testi-single .featured-thumbnail {
			position:absolute;
			left:0;
			top:0;
			}
		.testi-single .name-testi {
		display:block;
		text-align:right;
		font-style:normal;
		font-size:12px;
		font-family:Arial, Helvetica, sans-serif;
		padding:0;
		}





/* Shortcodes
---------------------------------------- */

/* Recent Posts */
.recent-posts {
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
	border:none;
	}
	.recent-posts li {
		list-style-type:none;
		margin:0 0 20px 0;
		padding:0;
		border:none;
		background:none;
		}
		.recent-posts li img.thumb {
			float:left;
			margin:0 20px 0 0;
			}
		.recent-posts li h5 {
			font-size:1em;
			margin-bottom:0;
			font-family:Arial, Helvetica, sans-serif;
			}
		.recent-posts li .excerpt {
			margin-bottom:1.5em;
			}
		.recent-posts li span.meta {
			display:block;
			margin-bottom:.5em;
			font-size:10px;
			color:#888;
			text-transform:uppercase;
			overflow:hidden;
			}
			.recent-posts li .post-date {
				float:left;
				}
			.recent-posts li .post-comments {
				float:right;
				}

/* Images Format Type */
.recent-posts .format-image {
	float:left;
	margin:0 20px 20px 0;
	}	

/* Quote Format Type */
.recent-posts .format-quote {
	
	}

/* Link Format Type */
.recent-posts .format-link {
	
	}

/* Link Format Type */
.recent-posts .format-link {
	
	}	

/* Audio Format Type */
.recent-posts .format-audio {
	margin-bottom:2em;
	}
	.recent-posts .format-audio .audio-wrapper {
		margin-bottom:.5em;
		}

/* Video Format Type */
.recent-posts .format-video {
	float:left;
	width:300px;
	margin:0 20px 20px 0;
	}
.recent-posts .format-video iframe {
	width:300px;
	height:200px;
	}
	
/* Features */
.recent-posts.features li {
	background-repeat:repeat-x;
	background-position:0 bottom;
	padding: 0 0 26px 0;
	margin: 0 0 24px 0;
}
.recent-posts.features .counter {
	float: left;
	width:45px;
	height:46px;
	line-height:45px;
	text-align:center;
	font-size:24px;
	font-weight:bold;
	background-repeat:no-repeat;
	background-position:0 -114px;
	margin:10px 15px 0 0;
}
.recent-posts.features li:hover .counter {
	background-position:0 0;
}
.recent-posts.features h5 {
	font-weight:normal;
	overflow: hidden;
	margin: 0;
}
	.recent-posts.features h5 a {
		text-decoration:none;
		display: inline-block;
	}
	.recent-posts.features h5 a:hover {
		text-decoration:underline;	
	}

/* Our team */
.recent-posts.team {
  margin: -20px 0 0 0;
  padding: 0;
}
	.recent-posts.team li {
		float: left;
		width: 219px;
		margin: 20px 21px 0 0;
		color: #8d8d8b;
	}
	.recent-posts.team li:nth-child(4n) {
		margin-right: 0;
	}
	.recent-posts.team li.nomargin {
		margin-right: 0;
	}
		.recent-posts.team li .featured-thumbnail {
			overflow: hidden;
			float: none;
			display: block;
			margin: 0 0 25px 0;
		}
	.recent-posts.team li h5 {
		font-size:20px;
		margin-bottom: 7px;
	}
	.recent-posts.team li .excerpt {
		margin-bottom: 0;
		text-transform:uppercase;
	}
	
/* Clients */
.recent-posts.clients {
  margin: 0 0 -20px 0;
  padding: 0;
  overflow: visible;
}
	.recent-posts.clients li {
		display:inline-block;
		width:219px;
		margin-right: 21px;
		margin-bottom: 12px;
	}
	.recent-posts.clients li:nth-child(4n) {
		margin-right: 0;
	}
	.recent-posts.clients li.nomargin {
		margin-right: 0;
	}
		.recent-posts.clients li .featured-thumbnail {
			margin: 0 0 25px 0;
		}
		.recent-posts.clients li h5 {
			font-size:20px;
			margin-bottom: 12px;
		}

/* Services */
.recent-posts.services {
	list-style-type:none;
	padding:1.5em 0 0 0;
	margin:0 0 -30px 0;
	overflow:hidden;
	}
	.recent-posts.services li {
		float:left;
		width:300px;
		margin:0 20px 30px 0;
		background:none;
		padding:0;
		}
	.recent-posts.services li:nth-child(2n) {
		margin-right:0;
		}
	.recent-posts.services li.nomargin{
		margin-right:0;
		}
		.recent-posts.services li img.thumb {
			margin-right:3px;
			}
		.recent-posts.services li h3 {
			padding-top:8px;
			}
			.recent-posts.services li h3 a {
				color:#191919;
				}

/* Popular Posts */
.popular_posts {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.popular_posts li {
		list-style-type:none;
		padding:0 0 20px 0;
		margin:0;
		overflow:hidden;
		}



/* Tags */
.tags-cloud a,
.tagcloud a,
.post-footer a {
	display:inline-block;
	background-repeat:repeat-x;
	background-position:0 0;
	padding:0 7px;
	border-radius:3px;
	text-decoration:none;
	margin:0 1px 4px 0;
	font-size:11px !important;
	line-height:24px;
	height:24px;
	vertical-align:top;
	}
.no-boxshadow .tags-cloud a,
.no-boxshadow .tagcloud a,
.no-boxshadow .post-footer a {
	box-shadow:0 0 0 rgba(0, 0, 0, .1);
}	
	
.archive-lists h4 {
	font-size:18px;
}	


/* Recent Comments */
.recent-comments {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.recent-comments li {
		padding:0;
		margin:0;
		border:none;
		padding-bottom:.5em;
		}


/* Footer
---------------------------------------- */
#footer .shadow,
.page_box {
	background-repeat:repeat-x;
	background-position:0 0;
}
#footer .button {
	text-decoration:underline;
	background-position:right -6px;
}
#footer .button:hover {
	text-decoration:none;
}

	/* Footer widget */
	#widget-footer,
	#page_box.shadow {
		background-repeat:repeat;
		background-position:50% 50%;
	}
		#widget-footer .shadow,
		.page_box {
			padding: 55px 0 0 0;
		}
		#widget-footer h4 {
			font-size:24px;
			line-height:1.2em;
			margin-bottom: 23px;
			font-weight:normal;
			font-family:Arial, Helvetica, sans-serif;
		}
	.widget-footer {
		padding-bottom: 54px;
	}	

	
	#widget-footer .social-networks li {
		list-style-type:none;
		padding:0 0 .5em 0;
		margin:0;
		}
	
	/* Footer navigation */
	nav.footer {
		float:left;
		padding-left: 30px;
	}
		nav.footer ul {
			margin:0;
			padding:0;
			}
			nav.footer ul li {
				list-style-type:none;
				float:left;
				padding:0 0 0 7px;
				margin:0 0 0 7px;
				background:none;
				line-height:10px;
				}
			nav.footer ul li:first-child {
				border: none;
				padding: 0;
				margin: 0;
			}	
				#copyright nav.footer ul li.current_page_item a {
					text-decoration:underline;
				}
	
	/* Copyright */
	#copyright {
		font-size:11px;
		text-transform:uppercase;
		padding: 33px 0 30px 0;
		}
		#copyright a {
			text-decoration:none;
		}
		#copyright a:hover {
			text-decoration:underline;
		}
	
	/* Footer text */
	#footer-text {
		float: right;
		line-height:1.3em;
		text-align:right;
		margin-top: -2px;
		padding-right: 25px;
		}


#page_box .inner {
	padding: 0 31px 34px 31px;
}
#page_box h2 {
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:none;
	font-weight:normal;
	font-size:24px;
}
#page_box h3 {
	font-size:18px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}


/* Misc
---------------------------------------- */
.button,
.reply a {
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
	padding-right:16px;
	background-repeat:no-repeat;
	background-position:right 8px;
	}
	.button:hover,
	.reply a:hover {
		text-decoration:underline;
		background-position:right -6px;
		color:#fe6a21;
		}
		
.column_inner {
	padding: 0 20px 0 30px;
}		
		
.no-results {
	
}


/* Lightbox */
.lightbox {
	display:block;
	position:relative;
	}



/* Tabs */
.tabs {
    margin: 1px 0 20px 0;
}

.tabs .tab-wrapper {
    border: 1px solid #dddddd;
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    margin: -1px 0 0 0;
}

.tabs .tab-menu ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.tabs .tab-menu li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}

.tabs .tab-menu a {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #aaaaaa;
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 2px 0 0;
    padding: 8px 20px;
}

.tabs .tab-menu a:hover {
    background-color: #f2f2f2;
    color: #666666;
}

.tabs .tab-menu a.active {
    background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#fafafa');
    background: -moz-linear-gradient(bottom , #fafafa 0px, #f6f6f6 90%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #fafafa),color-stop(90%, #f6f6f6));
    border-bottom: none;
    color: #666666;
    padding: 8px 20px 9px 20px;
}

.tabs .tab {
	background-color: #fafafa;
	border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    padding: 20px;
}





/* Toggle */
.toggle {
    padding: 0 0 2px 0;
}
.toggle .trigger {
	background-color: #f5f5f5;
	background: -moz-linear-gradient(bottom, #F2F2F2 0px, #ffffff 100%);
	background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #f2f2f2),color-stop(1, #ffffff));
	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #666666;
	display: block;
	padding: 10px 12px 10px 40px;
	position: relative;
	text-decoration:none;
	height:1%;
	}

.toggle .trigger span {
	background: url(../images/toggle.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	top: 9px;
	left: 10px;
	text-indent: -9999px;
	width: 22px;
	height: 20px;
	}

.toggle .trigger:hover,
.toggle .active {
	background:#191919;
	color:#fff;
	}
.toggle .active span {
	background-position: 0 -20px;
	}

.toggle .box {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px;
	}



/* Dropcap */
.dropcap {
	display: block;
  float: left;
  margin: 0 22px 20px 0;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  background-repeat:no-repeat;
  background-position:0 0;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  text-transform: lowercase;
	}

.widget-area {
	
}

.hr {
	height:2px;
	background-repeat:repeat-x;
	background-position:0 0;
	overflow:hidden;
	font-size:0;
	line-height:0;
	margin:30px 5px;
	}
.grid_1 .hr, .grid_2 .hr, .grid_3 .hr, .grid_4 .hr, .grid_5 .hr, .grid_6 .hr, .grid_7 .hr, .grid_8 .hr, .grid_9 .hr, .grid_10 .hr, .grid_11 .hr, .grid_12 .hr, .grid_13 .hr, .grid_14 .hr, .grid_15 .hr, .grid_16 .hr, .grid_17 .hr, .grid_18 .hr, .grid_19 .hr, .grid_20 .hr, .grid_21 .hr, .grid_22 .hr, .grid_23 .hr, .grid_24 .hr {
	margin-left:0;
	margin-right:0;
	}
.sm_hr {
  height: 2px;
  background-repeat:repeat-x;
  background-position:0 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  margin: 0 10px 18px 10px;
}
.grid_1 .sm_hr,
.grid_2 .sm_hr,
.grid_3 .sm_hr,
.grid_4 .sm_hr,
.grid_5 .sm_hr,
.grid_6 .sm_hr,
.grid_7 .sm_hr,
.grid_8 .sm_hr,
.grid_9 .sm_hr,
.grid_10 .sm_hr,
.grid_11 .sm_hr,
.grid_12 .sm_hr {
  margin-left: 0;
  margin-right: 0;
}
.spacer {
	height:40px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	}

/* Address */
.address {
	overflow:hidden;
	width:100%;
	margin:0;
	padding:0;
	}
.address dt {
	float:left;
	width:165px;
	margin-right:20px;
	padding:0 0 0 55px;
	background:none;
	font-size:1em;
	line-height:18px;
	background:url(../images/address-icon1.png) no-repeat 0 3px;
	}
.address dd {
	float:left;
	width:217px;
	padding:0 0 0 53px;
	background:url(../images/address-icon2.png) no-repeat 0 3px;
	}
	.address dd ul {
		list-style-type:none;
		padding:0;
		margin:0;
		}
		.address dd ul li {
			background:none;
			padding:0;
			margin:0;
			line-height:1.5em;
			}
	.address dd span {
		float:left;
		width:100px;
		}
		.address dd a {
			font-style:italic;
			text-decoration:underline;
			}
		.address dd a:hover {
			text-decoration:none;
			}

			
/* Google Map */
.google-map {
	margin-bottom:20px;
	}




/* VIDEO */
.video-wrap {
	margin-bottom: 10px;
	position:relative;
	zoom:1;
	}
	.video-wrap object {
		position:relative;
		z-index:2;
		}
	.video-bg {
		background-color:black;
		position:absolute;
		left:0;
		top:0;
		z-index:1;
		}

/* AUDIO */
.audio-wrapper {
   margin-bottom:1.5em;
}
.audio-desc {
	font-size:.91em;
	color:#999;
	padding:.5em 0 0 0;
	}
.audiojs audio { position: absolute; left: -1px; }
.audiojs { width: 460px; height: 36px; background: #404040; overflow: hidden; font-family: monospace; font-size: 12px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
	background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
.audiojs .play-pause { width: 25px; height: 40px; padding: 4px 6px; margin: 0px; float: left; overflow: hidden; border-right: 1px solid #000; }
.audiojs p { display: none; width: 25px; height: 40px; margin: 0px; cursor: pointer; }
.audiojs .play { display: block; }
.audiojs .scrubber { position: relative; float: left; width: 280px; background: #5a5a5a; height: 14px; margin: 10px; border-top: 1px solid #3f3f3f; border-left: 0px; border-bottom: 0px; overflow: hidden; }
.audiojs .progress { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #ccc; z-index: 1;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
	background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%); }
.audiojs .loaded { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #000;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
	background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%); }
.audiojs .time { float: left; height: 36px; line-height: 36px; margin: 0px 0px 0px 6px; padding: 0px 6px 0px 12px; border-left: 1px solid #000; color: #ddd; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); } 
.audiojs .time em { padding: 0px 2px 0px 0px; color: #f9f9f9; font-style: normal; }
.audiojs .time strong { padding: 0px 0px 0px 2px; font-weight: normal; }
.audiojs .error-message { float: left; display: none; margin: 0px 10px; height: 36px; width: 400px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff;
	text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
.audiojs .error-message a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }

.audiojs .play { background: url(../images/player-graphics.gif) -2px -1px no-repeat; }
.audiojs .loading { background: url(../images/player-graphics.gif) -2px -31px no-repeat; }
.audiojs .error { background: url(../images/player-graphics.gif) -2px -61px no-repeat; }
.audiojs .pause { background: url(../images/player-graphics.gif) -2px -91px no-repeat; }

.playing .play, .playing .loading, .playing .error { display: none; }
.playing .pause { display: block; }

.loading .play, .loading .pause, .loading .error { display: none; }
.loading .loading { display: block; }

.error .time, .error .play, .error .pause, .error .scrubber, .error .loading { display: none; }
.error .error { display: block; }
.error .play-pause p { cursor: auto; }
.error .error-message { display: block; }



/* Alert boxes
---------------------------------------- */
.alert-box, .wpcf7-response-output {
	padding:20px 20px 20px 90px !important;
	font-size:.91em;
	line-height:1.4em;
	border:1px solid #dbdbdb;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:15px;
	}
	.error-box, .wpcf7-mail-sent-ng {
		border-color:#ff9999;
		color:#c31b00;
		background:url(../images/icon-error.png) no-repeat 20px 50% #ffcccc;
		}
	.attention-box, .wpcf7-validation-errors, .wpcf7-spam-blocked {
		border-color:#e6c555;
		color:#9e660d;
		background:url(../images/icon-note.png) no-repeat 20px 50% #fdebae;
		}
	.notice-box {
		border-color:#68a2cf;
		color:#2e6093;
		background:url(../images/icon-info.png) no-repeat 20px 50% #bfe4f9;
		}
	.approved-box, .wpcf7-mail-sent-ok {
		border-color:#a3c159;
		color:#5e6f33;
		background:url(../images/icon-download.png) no-repeat 20px 50% #ccff99;
		}
	


/* Forms
---------------------------------------- */

/* Form defaults */
input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
	border:1px solid #dbdbdb;
	outline:none;
}
input[type="text"], textarea {
	border: none;
	padding:8px 4px;
	}
input[type="submit"], input[type="reset"] {
	position:relative;
	display:inline-block;
	background:none;
	padding-right:16px;
	background-repeat:no-repeat;
	background-position:right 5px;
	line-height:15px;
	text-decoration:none;
	font-size:12px;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
	margin-right:15px;
	}
input[type="submit"]:hover, input[type="reset"]:hover {
	text-decoration:underline;
		background-position:right -9px;
	}


/* Comment form */
#commentform a {
	text-decoration:underline;
	}
#commentform a:hover {
	text-decoration:none;
}	
	#commentform p.field {
		margin-bottom:16px;
		}
		#commentform small {
			font-size:1em;
			}
	#commentform label {
		display:block;
		margin-bottom: 4px;
		}
	#commentform input[type="text"] {
		width:290px;
		}
	#commentform textarea {
		width:690px;
		max-width:690px;
		min-width:690px;
		height:255px;
		min-height:255px;
		overflow:auto;
		}
	#commentform input[type="submit"] {
		float: right;
		margin: 0;
	}
	.children #commentform {
		width:548px;
	}
	.children #commentform textarea {
		width:538px;
		max-width:538px;
		min-width:538px;
	}



/* Contact form */
.wpcf7-form p.field {
	margin-bottom:9px;
	vertical-align:top;
	position:relative;
	}
.wpcf7-form p.field input {
	width:290px;
	}
	.wpcf7-form p.field small {
		color:red;
		}
.wpcf7-form textarea {
	width:358px;
	max-width:358px;
	min-width:358px;
	height:325px;
	min-height:325px;
	overflow:auto;
	margin-bottom:17px;
	}
.wpcf7-form .submit-wrap {
	padding:0;
	margin:0;
	}
.wpcf7-form .submit-wrap input {
	padding-left:0;
}	
	span.wpcf7-form-control-wrap {
		display:block;
		}
	.wpcf7-not-valid-tip {
		width:289px !important;
		position:absolute;
		left:0 !important;
		top:0 !important;
		padding:5px 0 5px 10px !important;
		background:#f3b7b7 !important;
		color:red !important;
		border:1px solid red !important;
		}
	div.wpcf7-response-output {
		margin-left:0 !important;
		margin-right:0 !important;
		}





/* Sidebar search form */
#searchform {
	
	}
#searchform .searching {
		width:208px;
		margin-right:10px;
		}
.widget #searchform .searching {
	margin-bottom: 12px;
}		
	#searchform .submit {
		cursor:pointer;
		padding-left: 0;
		}



/* Fluid Columns */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:79.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{ position:relative; margin-right:4%; float:left; }
.last { margin-right:0 !important; clear:right; }


.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.extra-wrap {
	overflow:hidden;
	}


/* Clear Floated Elements */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Always remember to compress your live stylesheet and keep an uncompressed backup */